<div class="container mt-5">
    <div class="row">
        <h2>Gestion permis</h2>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#admincreate">
            creation de permis
        </button>

        <!-- Modal -->
        <div class="modal fade" id="admincreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/permis" method="post" class="modal-body">
                        <label for="exampleFormControlInput1" class="form-label">Titre</label>
                        <input type="name" class="form-control" name="name" id="name">

                        <label for="exampleFormControlInput1" class="form-label">description</label>
                        <input type="description" class="form-control" name="description" id="description">
                        <div class="modal-footer"></div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Go ==></button>
                    </form>



                </div>
            </div>
        </div>
    </div>
    <table class="table table-dark table-striped mt-5">
        <!-- Header -->
        <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">actions</th>
            </tr>

        </thead>

        <!-- Body du tableau permis -->
        <tbody>
            {{#each dbPermis }}
            <tr>
                <th scope="row">{{ inc @index }}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.description }}</td>

                <td>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#modalPermis-{{this.id}}">{{ this.name }} n°{{this.neth}}</button>

                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="modalPermis-{{this.id}}" tabindex="-1" aria-labelledby="modalPermis-Label"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalPermis-Label">{{this.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/permis/{{this.id}}?_method=PUT" method="post">
                                <div class="col">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="name" value="{{ this.name }}">
                                </div>
                                <div class="col">
                                    <label for="description">Description</label>
                                    <input type="text" id="description" name="description"
                                        value="{{ this.description }}">
                                </div>
                                <button type="submit">Editer</button>
                            </form>
                            <form action="/permis/{{this.id}}?_method=DELETE" method="post">
                                <button type="submit">Supprimer</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            {{/each }}
        </tbody>
    </table>
</div>
</div>
<div class="container mt-5">
    <div class="row">
        <h2>Gestion des utilisateurs</h2>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createuser">
            creation des utilisateurs
        </button>

        <!-- Modal -->
        <div class="modal fade" id="createuser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/permis" method="post" class="modal-body">
                        <label for="exampleFormControlInput1" class="form-label">name</label>
                        <input type="text" class="form-control" name="name" id="name">

                        <label for="exampleFormControlInput1" class="form-label">prenom</label>
                        <input type="text" class="form-control" name="prenom" id="prenom">

                        <label for="exampleFormControlInput1" class="form-label">telephone</label>
                        <input type="phone" class="form-control" name="telephone" id="telephone">

                        <label for="exampleFormControlInput1" class="form-label">email</label>
                        <input type="email" class="form-control" name="email" id="email">

                        <label for="exampleFormControlInput1" class="form-label">identifiant</label>
                        <input type="text" class="form-control" name="password" id="identifiant">

                        <label for="exampleFormControlInput1" class="form-label">password</label>
                        <input type="password" class="form-control" name="password" id="password">

                        <div class="modal-footer"></div>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Go=></button>
                    </form>



                </div>
            </div>
        </div>
    </div>
    <table class="table table-dark table-striped mt-5">
        <!-- Header -->
        <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">telephone</th>
                <th scope="col">email</th>
                <th scope="col">identifiant</th>
                <th scope="col">password</th </tr>

        </thead>

        <!-- Body du tableau users -->
        <tbody>
            {{#each dbuser }}
            <tr>
                <th scope="row">{{ inc @index }}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.prenom }}</td>
                <td>{{ this.telephone }}</td>
                <td>{{ this.email }}</td>
                <td>{{ this.password }}</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#modalPermis-{{this.id}}">{{ this.name }} n°{{this.neth}}</button>

                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="modalPermis-{{this.id}}" tabindex="-1" aria-labelledby="modalPermis-Label"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalPermis-Label">{{this.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/permis/{{this.id}}?_method=PUT" method="post">
                                <div class="col">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="name" value="{{ this.name }}">
                                </div>
                                <div class="col">
                                    <label for="description">Description</label>
                                    <input type="text" id="description" name="description"
                                        value="{{ this.description }}">
                                </div>
                                <button type="submit">Editer</button>
                            </form>
                            <form action="/permis/{{this.id}}?_method=DELETE" method="post">
                                <button type="submit">Supprimer</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            {{/each }}
        </tbody>
    </table>
</div>
</div>