<div class="container">
    <div class="row">
        <!-- Krashtest tableau -->

        <table class="table table-dark table-striped mt-5">
            <!-- Header -->
            <thead>

                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">mail</th>
                    <th scope="col">telephone</th>
                    <th scope="col">modal</th>
                </tr>

            </thead>

            <!-- Body du tableau users -->
            <tbody>
                {{#each users }}
                <tr>
                    <th scope="row">{{ inc @index }}</th>
                    <td>{{ upper this.name }}</td>
                    <td>{{ upper this.prenom }}</td>
                    <td>{{ upper this.mail }}</td>
                    <td>{{ upper this.telephone }}</td>
                    
                    <td><button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{this.id}}">{{ this.name }} n°{{this.neth}}</button></td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{this.name}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{#each users }}
                                <tr>
                                    <th scope="">{{ inc @index }}</th>
                                    <td>{{ upper this.name }}</td>
                                    <td>{{ upper this.prenom }}</td>
                                    <td>{{ upper this.mail }}</td>
                                    <td>{{ upper this.telephone }}</td>
                                    <td>{{ upper this.neth }}</td>
                                </tr>
                                 {{/each }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each }}
            </tbody>
        </table>
        <table class="table table-dark table-striped mt-5">
            <!-- Header -->
            <thead>

                <tr>
                    <th scope="col">#</th>
                    <th scope="col">photo</th>
                    <th scope="col">article1</th>
                    <th scope="col">article2</th>
                    <th scope="col">article3</th>
                    <th scope="col">article4</th>
                </tr>

            </thead>

            <!-- Body du tableau articles -->
            <tbody>
                {{#each articles }}
                <tr>
                    <th scope="row">{{ inc @index }}</th>
                    <td>{{ upper this.photo }}</td>
                    <td>{{ upper this.art1 }}</td>
                    <td>{{ upper this.art2 }}</td>
                    <td>{{ upper this.art3 }}</td>
                    <td>{{ upper this.art4 }}</td>
                    <td><button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{this.id}}">{{ this.name }}{{this.id}}</button></td>
                </tr>
                {{/each }}
            </tbody>
        </table>
    </div>
</div>